* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --border-radius: 4px;
  --opacity-hover: 0.8;
  --opacity-disabled: 0.5;
  --color-black: #1e201e;
  --color-brown: #3c3d37;
  --color-green: #697565;
  --color-white: #ecdfcc;

  font-family: Arial;
  color: var(--color-white);
  background-color: var(--color-black);
}

html {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

button {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: var(--spacing-sm);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:disabled {
    opacity: var(--opacity-disabled);
  }
}

/* TODO: refactor out and import rr-* CSS */

rr-form form {
  display: flex;
  width: 100%;
  height: 100dvh;
}

rr-landing,
rr-finished,
rr-rest,
rr-set {
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
  scroll-snap-align: center;
  width: 100%;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

rr-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: var(--color-green);

  & > datalist {
    display: flex;
    justify-content: space-between;
  }
}
